:root {
    --secundary-color: #23272a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('assets/Header\ Background.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 28.68rem;
    
}

 section h1 {
    display: flex;
    font-size: 56px;
    font-weight: 400;
    font-family: 'Luckiest guy', sans-serif;
    color: #FFF;
    margin: auto;
    width: 20rem;
    padding-top: 90px;
}

section p {
    padding-top: 1.5rem;
    margin: 0 auto;
    width: 47.31rem;
    text-align: center;
    color: #FFF;
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

section .primary-button {
    color: var(--secundary-color);
    width: 12.8rem;
    height: 44px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
}

section .secondary-button {
    width: 17.50rem;
    height: 44px;
    color: #FFF;
    background-color: #23272a;
    border-radius: 28px;
    cursor: pointer;
    border: none;
}

.buttons {
    display: flex;
    padding-top: 24px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.section-two {
    padding-top: 1.8rem;
    height: 397px;
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;
    color: var(--secundary-color);
    height: 28rem;
}

.section-two img {
    margin-top: 2.5rem;
    padding-top: 10px;
}

.section-two h2 {
    display: flex;
    width: 20.5rem;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: var(--secundary-color);
    font-weight: 800;
    font-size: 2.5rem;
}

.description-1 h3 {
    color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    width: 21.7rem;
    padding-top: 1rem;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    color: var(--secundary-color);
}

.description-1 {
    padding-top: 3.1rem;
}

.section-tree {
    display: flex;
    padding-top: 1.8rem;
    height: 25rem;
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;
    margin: auto;
    color: var(--secundary-color);
    height: 28rem;
}

.section-tree h2 {
    width: 20.5rem;
    color: var(--secundary-color);
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Open sans';
    margin-bottom: 1rem;
}

.section-tree h3 {
    font-size: 1rem;
    font-family: 'Open Sans';
    width: 21.75rem;
    font-weight: 400;
    height: 5.5rem;
    color: var(--secundary-color);
}

.section-four {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Open Sans';
}

.section-four h2 {
    color: var(--secundary-color);
    font-size: 2.5rem;
    font-weight: 800;
    width: 20.5rem;
    margin-bottom: 1rem;
}

.section-four h3 {
    width: 21.75rem;
    color: var(--secundary-color);
    font-size: 1rem;
    font-weight: 400;
}

.section-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';
    margin-bottom: 2.5rem;
}

.section-five h2 {
    font-family: 'Luckiest Guy';
    width: 38rem;
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--secundary-color);
}

.section-five h3 {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: var(--secundary-color);
    width: 50rem;
    margin: 1rem 0 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundary-color);
    height: 8.3rem;
}

footer img {
    width: 14.3rem;
    height: 4rem;
}